<form class="item">
    <input type="text" name="nombre" id="nombre" placeholder="Nombre"
    class="form-control"[(ngModel)]="nombreInput">

    <input type="text" name="apellido" id="apellido" placeholder="Apellido"
    class="form-control" [(ngModel)]="apellidosInput">

  
<!--     ACTIONS BUTTONS -->
        <button 
        type="submit"        
        (click)="onAgregarPersona()"
        >+</button>

    <!-- <div class="col-md-1" style="margin-top: 31px;">
        <button 
        type="submit" 
        class="btn btn-primary"
        (click)="onLimpiarCampos(nombreInput,apellidosInput)"
        >Limpiar</button>
    </div>
    <div class="col-md-2" style="margin-top: 31px;">
        <button 
        type="submit" 
        class="btn btn-primary"
        (click)="onRecetearLista()"
        >Resetear Lista</button>
    </div> -->
</form>